<br><br>
<div data-scroll-index='1' class="admission_area">
    <div class="admission_inner">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="admission_form">
                        <h3>Add an Online Course</h3>
                        <form [formGroup]="courseForm" >
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="Course Title" class="form-control" formControlName="courseTitle" required>
                                        <div *ngIf="courseForm.controls['courseTitle'].invalid && (courseForm.controls['courseTitle'].dirty || courseForm.controls['courseTitle'].touched)">
                                            <div *ngIf="courseForm.controls['courseTitle'].errors?.['required']" style="color: red;">
                                                Title is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="Price" class="form-control" formControlName="coursePrice" required>
                                        <div *ngIf="courseForm.controls['coursePrice'].invalid && (courseForm.controls['coursePrice'].dirty || courseForm.controls['coursePrice'].touched)">
                                            <div *ngIf="courseForm.controls['coursePrice'].errors?.['required']" style="color: red;">
                                                Price is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        <input type="date" class="form-control" id="startDate" name="startDate" formControlName="startDate" dateInput required>
                                        <div *ngIf="courseForm.get('startDate')?.invalid && (courseForm.get('startDate')?.dirty || courseForm.get('startDate')?.touched)">
                                            <div *ngIf="courseForm.get('startDate')?.errors?.['required']" style="color: red;">
                                                Start Date is required
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="Duration" class="form-control" formControlName="duration" required>
                                        <div *ngIf="courseForm.get('duration')?.invalid && (courseForm.get('duration')?.dirty || courseForm.get('duration')?.touched)">
                                            <div *ngIf="courseForm.get('duration')?.errors?.['required']" style="color: red;">
                                                Duration is required
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-12">
                                    <div class="apply_btn">
                                        <button class="boxed-btn3" type="submit" (click)="addCourse()" [disabled]="courseForm.invalid">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
