<div class="container">
<br>
<h1 style="text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  color: rgb(248, 217, 21);">Courses List</h1>
<br><br>

<div class="mx-auto" style="width: 80%;margin: 0 auto; text-align: center;">
  <table class="table">
    <thead>
      <tr class="table-light">
        <th scope="col" style="font-weight: bolder; color: rgb(50, 186, 220);text-align: center;">ID</th>
        <th scope="col" style="font-weight: bolder; color: rgb(50, 186, 220);text-align: center;">Title</th>
        <th scope="col" style="font-weight: bolder; color: rgb(50, 186, 220);text-align: center;">Price</th>
        <th scope="col" style="font-weight: bolder; color: rgb(50, 186, 220);text-align: center;">Date</th>
        <th scope="col" style="font-weight: bolder; color: rgb(50, 186, 220);text-align: center;">Duration</th>
        <th scope="col" style="font-weight: bolder; color: rgb(50, 186, 220);text-align: center;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses" className="table-active" style="text-align: center;">
        <td scope="row">{{course.id}}</td>
        <td scope="row">{{course.courseTitle}}</td>
        <td scope="row">{{course.coursePrice}} DT</td>
        <td scope="row">{{course.startDate}}</td>
        <td scope="row">{{course.duration}} H</td>
        <td scope="row">
          <button nzSize="small" type="button" class="btn btn-danger " (click)="deleteCourse(course.id)">Delete</button>
          <br>
          <button nzSize="small" type="button" class="btn btn-success " routerLink="/admin/course/{{course.id}}">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>