<div class="container-xxl bg-white p-0">

    <app-carousel></app-carousel>
    
    <app-facilities></app-facilities>
    
    <app-about></app-about>
    
    <app-call-to-action></app-call-to-action>
    
    <app-class-start></app-class-start>
    
    <app-appointment></app-appointment>
    
    <!--app-registration></app-registration-->
    
    <app-team></app-team>
    
    <app-testimonial></app-testimonial>
    
    <!--app-blog></app-blog-->
    
    
            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>