<div class="container-fluid p-0 mb-5">
    <br><br>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="bg-light rounded">
                <div class="row g-0">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="h-100 d-flex flex-column justify-content-center p-5">
                            <h1 class="mb-4">Inscription</h1>

                            
                            <form [formGroup]="signupForm">
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" formControlName="firstName" placeholder="First name" required>
                                            <label>First Name</label>
                                            <div *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].dirty || signupForm.controls['firstName'].touched)">
                                                <div *ngIf="signupForm.controls['firstName'].errors?.['minlength']" style="color: red;">
                                                    First Name must have at least 4 chars
                                                </div>
                                                <div *ngIf="signupForm.controls['firstName'].errors?.['required']" style="color: red;">
                                                    First Name is required
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" formControlName="lastName" placeholder="Last name" required>
                                            <label>Last Name</label>
                                            <div *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].dirty || signupForm.controls['lastName'].touched)">
                                                <div *ngIf="signupForm.controls['lastName'].errors?.['minlength']" style="color: red;">
                                                    Last Name must have at least 4 chars
                                                </div>
                                                <div *ngIf="signupForm.controls['lastName'].errors?.['required']" style="color: red;">
                                                    Last Name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" formControlName="email" placeholder="Email" required>
                                            <label>Email</label>
                                            <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)">
                                                <div *ngIf="signupForm.controls['email'].errors?.['email']" style="color: red;">
                                                    Invalid email format
                                                </div>
                                                <div *ngIf="signupForm.controls['email'].errors?.['required']" style="color: red;">
                                                    Email is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
                                            <label>Password</label>
                                            <div *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)">
                                                <div *ngIf="signupForm.controls['password'].errors?.['minlength']" style="color: red;">
                                                    Password must have at least 8 chars
                                                </div>
                                                <div *ngIf="signupForm.controls['password'].errors?.['required']" style="color: red;">
                                                    Password is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" formControlName="confirmPwd" placeholder="Confirm Password" required>
                                            <label>Confirmed Password</label>
                                            <div *ngIf="signupForm.controls['confirmPwd'].invalid && (signupForm.controls['confirmPwd'].dirty || signupForm.controls['confirmPwd'].touched)">
                                                <div *ngIf="signupForm.controls['confirmPwd'].errors?.['minlength']" style="color: red;">
                                                    Passwords do not match
                                                </div>
                                                <div *ngIf="signupForm.controls['confirmPwd'].errors?.['required']" style="color: red;">
                                                    Confirmed Password is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <button class="btn btn-primary w-100 py-3" type="submit" (click)="register()" [disabled]="signupForm.invalid">Sign Up</button>
                                        </div>
                                    </div>
                                    <a href="/login">Already have an account? Click Here.</a>
                                </div>
                            </form>

                            <div id="error" class="text-danger mt-3"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100 rounded" src="assets/image/signup3.png" style="object-fit: cover;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
